.filer-table{
    display: flow-root;
    margin-bottom: 10px;
}

#search-div input, #add-delete-all {
    margin-right: 10px;
}

#search-btn {
    float: right;
}

#search-div {
    display: flex;
}

#width-table-action {
    width: 15%;
    text-align: center;
}

.width-table-action{
    text-align: center;
}

.custom-checkbox {
    margin: 0px !important;
}

#account-page-info {
    /* display: flex; */
}

#nav-paging {
    float: right;
}

#filter-dev {
    display: flex;
}

#filter-dev select:first-child{
    margin-right: 5px;
}
#filter-dev select:last-child{
    margin-left: 5px;
}

#search-dev button{
    white-space: nowrap;
    margin-left: 10px;
}

a .fa-trash-can {
    margin-left: 10px;
}

#button-function {
    display: flex;
    flex-direction: row-reverse;
}